
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: #080808;
  color: #fff;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#6e41b7;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(assets/imageWorkingMe.png);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 8%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background:#6e41b7;
  position: absolute;
  left: 0;
  bottom: -6px;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 15%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text span {
  color: #6e41b7;
}
.header-title{
  color: white;
  font-size: 25px;
}
.intro{
  margin-top: 13px;
  font-size: 16px;
  color: white;
}

/* .............about................ */
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
}
.tab-titles {
  display: flex;
  margin: 20px 0px 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0%;
  height: 3px;
  background:#6e41b7;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0px;
}
.tab-contents ul li span {
  font-weight: bold;
  color:#6e41b7;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/* ...............services.............. */
#services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background-color: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 20px;
}
.services-list div h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background-color:#6e41b7;
    transform:translateY(-10px) ;
}

/* .......portfolio................ */
#portfolio{
padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    background: yellow;
    height: 100%;
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),#6e41b7) ;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.links{
  display: flex;
  gap: 20px;
}
.layer a{
  margin-top: 20px;
  color:#6e41b7;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
height: 100%
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid#6e41b7;
  border-radius: 6px;
  padding: 14px 50px;
  text-decoration: none;
  color: #ffff;
  transition: background 0.5s;
}
.btn:hover{
background:#6e41b7;
}

/* -----------------contact------------ */
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
} 
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  margin-right: 15px;
  color:#6e41b7;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
 color:#6e41b7;
 transform: translateY(-5px);
}
 .btn2{
  cursor: pointer;
  display: inline-block;
  background:#6e41b7;
}
.contact-right form{
  width: 100%;
}
.contact-right h3{
  margin-top: 10px;
}
form{
 border: 1px solid rgb(50, 49, 49);
 border-radius: 8px;
 padding-left: 10px;
 padding-right: 10px;
}
 form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  background-color:#6e41b7;
  font-size:18px ;
  margin-top: 20px;
  cursor: pointer;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background:  #262626;
  font-weight: 300;
  margin-top: 20px;
}
nav .fa-solid{
  display: none;
}



